<div class="row">
  <% categories.each do |name, category| %>
    <div class="col-md-2 col-xs-6">
      <a class="card-links" href="/?filters[key]=<%= Rack::Utils.escape("^#{category.name}") %>">
        <div class="panel panel-default cards">
          <div class="panel-body <%= "incomplete" unless category.complete? %>">
            <%= category.name %>
          </div>
        </div>
      </a>
    </div>
  <% end %>
</div>
